<div class="sign-in-popup">
    <div class="row">
      <div class="col-12 mb-30">
        <h3>Add Delivery Address</h3>
        <p></p>
        <form action="/add-new-delivery-address" method="POST">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <label for="sign-in-input">Name:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="name"  id="sign-in-input">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <label for="Mobile">Mobile:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="mobile" id="Mobile" >
            </div>
            <div class="col-12">
              <label for="Mobile">Address Line:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="addressLine" id="Mobile" >
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <label for="Mobile">Pincode:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="pincode" id="Mobile" >
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <label for="Mobile">District:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="district" id="Mobile" >
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <label for="Mobile">State:<abbr class="required" title="required">*</abbr></label>
              <input type="text" name="state" id="Mobile" >
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              
            </div>
          </div>

          
  
          <input type="submit" name="sign-in" value="Add Address" class="btn btn-md btn-dark btn-button">
  
        </form>
      </div>>
    </div>
  </div>