<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      All Category
    </a>
    <a href="#" class="list-group-item list-group-item-action">Mens</a>
    <a href="#" class="list-group-item list-group-item-action">Womens</a>
    <a href="#" class="list-group-item list-group-item-action">Kids</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Electronics</a>
  </div>