<header class="sidenav" id="sidenav">
    <!-- Search -->
    <div class="sidenav__search-mobile">
      <form method="get" class="sidenav__search-mobile-form">
        <input type="search" class="sidenav__search-mobile-input" placeholder="Search..." aria-label="Search input">
        <button type="submit" class="sidenav__search-mobile-submit" aria-label="Submit search">
          <i class="ui-search"></i>
        </button>
      </form>
    </div>

    <nav>
      <ul class="sidenav__menu" role="menubar">
        <li>
          <a href="/" class="sidenav__menu-link">Home</a>
        </li>
        <% menuList.forEach(menu => { %>
          <li>
            <a href="/category/<%= menu.id %>" class="sidenav__menu-link"><%= menu.cat_name %></a>
            <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
            <ul class="sidenav__menu-dropdown">
              <% menu.subCategories.forEach(subCat => { %>
                <li><a href="/category/sub-category/<%= subCat.id %>" class="sidenav__menu-link"><%= subCat.sub_cat_name %></a></li>
              <% }) %>
            </ul>
          </li>
          <% }) %>
      
     

        <li>
          <% if(isUserLoggedIn){ %>
            <a href="/logout" class="sidenav__menu-link" id="top-bar__sign-in">Sign Out</a>
          <% } else { %>
            <a href="/login" class="sidenav__menu-link" id="top-bar__sign-in">Sign In</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </header> 