<div class="list-group">
    <a href="/seller" class="list-group-item list-group-item-action <%= path === '/' ? 'active' : '' %>">
      Dashboard
    </a>
    <a href="/seller/add-product" class="list-group-item list-group-item-action <%= path === '/add-product' ? 'active' : '' %>">Add Product</a>
    <a href="/seller/view-product" class="list-group-item list-group-item-action <%= path === '/view-product' ? 'active' : '' %>">View Product</a>
    <a href="" class="list-group-item list-group-item-action <%= path === '' ? 'active' : '' %>">Order Details</a>
</div>